{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
	{% if todoitem_list and user.is_anonymous == False %}\
		{% if user.is_superuser == True %}
			<h1 class="text-center my-3">Welcome Admin!</h1>
		{% else %}
			<h1 class="text-center my-3">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
		{% endif %}
		<div class="container">
			<div class="row">
				<h3 class="text-center mb-3">My Tasks</h3>
				<ul class="list-group col-lg-2-offset-1g-5-text-center">
				{% for todoitem in todoitem_list %}
					<li class="list-group-item">
						<a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">{{ todoitem.task_name }}</a>
					</li> 
				{% endfor %}
				</ul>
			</div>
		</div>
	{% elif user.is_anonymous == True %}
		<h1 class="text-center my-3">You are not authorized to access this page.</h1> 
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>
	{% else %}
		<p>No tasks have been created.</p>
	{% endif %}
{% endblock %}